# Data Pre-Processing

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
dataset = pd.read_csv('/home/piyush/Desktop/Code/100-DAYS-OF-ML-CODE/Datasets/Day4.csv')

In [11]:
dataset

     User ID  Gender  Age  EstimatedSalary  Purchased
0   15624510    Male   19            19000          0
1   15810944    Male   35            20000          0
2   15668575  Female   26            43000          0
3   15603246  Female   27            57000          0
4   15804002    Male   19            76000          0
5   15728773    Male   27            58000          0
6   15598044  Female   27            84000          0
7   15694829  Female   32           150000          1
8   15600575    Male   25            33000          0
9   15727311  Female   35            65000          0
10  15570769  Female   26            80000          0
11  15606274  Female   26            52000          0
12  15746139    Male   20            86000          0
13  15704987    Male   32            18000          0
14  15628972    Male   18            82000          0
15  15697686    Male   29            80000          0
16  15733883    Male   47            25000          1
17  15617482    Male   45            26000          1
18  15704583    Male   46            28000          1
19  15621083  Female   48            29000          1
20  15649487    Male   45            22000          1
21  15736760  Female   47            49000          1
22  15714658    Male   48            41000          1
23  15599081  Female   45            22000          1
24  15705113    Male   46            23000          1
25  15631159    Male   47            20000          1
26  15792818    Male   49            28000          1
27  15633531  Female   47            30000          1
28  15744529    Male   29            43000          0
29  15669656    Male   31            18000          0
30  15581198    Male   31            74000          0
31  15729054  Female   27           137000          1
32  15573452  Female   21            16000          0
33  15776733  Female   28            44000          0
34  15724858    Male   27            90000          0
35  15713144    Male   35            27000          0
36  15690188  Female   33            28000          0
37  15689425    Male   30            49000          0
38  15671766  Female   26            72000          0
39  15782806  Female   27            31000          0
40  15764419  Female   27            17000          0
41  15591915  Female   33            51000          0
42  15772798    Male   35           108000          0
43  15792008    Male   30            15000          0
44  15715541  Female   28            84000          0
45  15639277    Male   23            20000          0
46  15798850    Male   25            79000          0
47  15776348  Female   27            54000          0
48  15727696    Male   30           135000          1
49  15793813  Female   31            89000          0
50  15694395  Female   24            32000          0
51  15764195  Female   18            44000          0
52  15744919  Female   29            83000          0
53  15671655  Female   35            23000          0
54  15654901  Female   27            58000          0
55  15649136  Female   24            55000          0
56  15775562  Female   23            48000          0
57  15807481    Male   28            79000          0
58  15642885    Male   22            18000          0
59  15789109  Female   32           117000          0

In [12]:
X = dataset.iloc[:, [2, 3]].values
y = dataset.iloc[:, 4].values

## Splitting the dataset into the Training set and Test set

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

## Feature Scaling

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Fitting Logistic Regression to the Training set

In [16]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## Predicting the Test set results

In [18]:
prediction = classifier.predict(X_test)

In [19]:
prediction

array([1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0])

## Evaluating The Predection

In [20]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)